:root {
    --purple-blue: #4C5FD5;
    --gray: #dadbf1;
    --black: #000000;
    --white: #ffffff;
    --gray-black: #191a1b;
}

* {
    font-family: 'GT America Standard', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

header {
    background: var(--black);
    color: var(--white);
    padding: 20px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    height: 40px;
}

header .logo a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-left: 3px solid var(--white);
    border-radius: 2px;
    font-size: 24px;
    padding-left: 16px;
    margin-left: 16px;
    line-height: 40px;
}

header .logo a:hover {
    text-decoration: underline;
}

header nav .btn {
    padding: 6px 22px;
    margin-left: 12px;
    font-size: 24px;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}

header nav button:nth-child(1) {
    background: var(--gray-black);
    border: 1px solid var(--white);
}
header nav button:nth-child(1):hover {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
}

header nav button:nth-child(2) {
    background: var(--purple-blue);
    border: 1px solid var(--purple-blue);
}
header nav button:nth-child(2):hover {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
}
.main-search {
    height: 60vh;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-search h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -4px;
    margin-bottom: 16px;
}

.main-search form {
    width: 700px;
}

.main-search .input-wrapper {
    position: relative;
    width: 100%;
}

.main-search .input-wrapper .input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 35px 15px 15px;
    width: 100%;
    border-radius: 5px;
}

.main-search .input-wrapper .input:hover {
    border-color: var(--purple-blue);
}

.main-search .input-wrapper .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: unset;
    top: 34%;
    transform: translateY(-50%);
    right: 12px;
}

.main-search .input-wrapper .input-icon:hover,
.main-search .input-wrapper .input-icon:focus {
    color: var(--purple-blue);
}

.main-cards {
    width: 80%;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-cards .card {
    display: flex;
}
.main-cards .card .card__img {
    margin-top: 50px;
}

.main-cards .card .card__img img {
    margin-right: 16px;
    width: 75px;
}

.main-cards .card .card__info {
    margin-left: 16px;
    padding-right: 39px;
}

.main-cards .card .card__info h2 {
    font-size: 24px;
    margin: 50px 0 16px;
}

.main-cards .card .card__info p {
    font-size: 24px;
    margin-bottom: 20px;
}