:root {
    --purple-blue: #4C5FD5;
    --gray: #dadbf1;
    --black: #000000;
    --white: #ffffff;
    --gray-black: #191a1b;
}

* {
    font-family: 'GT America Standard', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

header {
    background: var(--black);
    color: var(--white);
    padding: 20px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    height: 40px;
}

header .logo a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-left: 3px solid var(--white);
    border-radius: 2px;
    font-size: 24px;
    padding-left: 16px;
    margin-left: 16px;
    line-height: 40px;
}

header .logo a:hover {
    text-decoration: underline;
}

header nav .btn {
    padding: 6px 22px;
    font-size: 24px;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}

header nav button:nth-child(1) {
    background: var(--gray-black);
    border: 1px solid var(--white);
}
header nav button:nth-child(1):hover {
    background: var(--purple-blue);
    border: 1px solid var(--purple-blue);
}

header nav button:nth-child(2) {
    background: var(--purple-blue);
    border: 1px solid var(--purple-blue);
}
header nav button:nth-child(2):hover {
    background: var(--gray-black);
    border: 1px solid var(--white);
}
.main-search {
    height: 60vh;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-search h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -4px;
    margin-bottom: 16px;
}

.main-search form {
    display: flex;
}