:root {
    --purple-blue: #4C5FD5;
    --gray: #dadbf1;
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: 'GT America Standard', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

header {
    background: var(--black);
    color: var(--white);
    padding: 20px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 44px;
}

header .logo span {
    display: inline-block;
    border-left: 3px solid var(--white);
    border-radius: 2px;
    padding-left: 16px;
    margin-left: 16px;
    line-height: 44px;
}